source https://www.nuget.org/api/v2

nuget FAKE

nuget MSTest.TestAdapter ~> 1.3.2
nuget MSTest.TestFramework
nuget FSharp.Management
nuget NUnit
nuget NUnit.Runners
nuget NUnit3TestAdapter
nuget FluentAssertions

//IKVM dependencies - the nuget and tool versions need to be in sync.
nuget IKVM 8.1.5717
http http://www.frijters.net/ikvmbin-8.1.5717.0.zip

//Tika release Jar URL
http http://www-us.apache.org/dist/tika/tika-app-1.21.jar
